body {
  background-color: #b3b3b3;
  margin: 0px;
}
#Logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 0.8%;
}

ul {
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-weight: 600;
}

li {
  list-style: none;
  display: inline-block;
  /*width: 6%;*/
  padding-left: 10px;
  margin-right: 1.2%;
}

li a {
  color: black;
  text-decoration: none;
}
/* Spacer*/
.spacer1 {
  margin-top: 150px;
}

#welcome {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  /* border-bottom: 2px solid pink;
  border-right: 2px solid pink; */
  width: 10px 0px 0px;
  box-shadow: 8px 8px 10px #000000;
}
/* Spacer*/
.spacer {
  margin-top: 70px;
}

/* Flexbox Start*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.Gallery {
  width: 395px;
  height: 245px;
  margin: 10px;
  transition: all 1s;
}

.Gallery:hover {
  transform: scale(1.1);
}
